@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Light.woff2') format('woff2');
}

html {
    font-family: 'SF UI Text', sans-serif;
}
#container {
    display: flex;
    flex-flow: column;
}
@media screen and (max-width: 600px) {
    header {
        flex-flow: column;
        row-gap: 2em;
    }
    #header_text {
        padding: 1em;
    }

    #content {
        padding-inline: 2em;
    }
}

@media screen and (min-width: 600px) {
    header {
        flex-flow: row;
        column-gap: 12em;

    }

    #header_text {
        padding: 4em;
    }

    #content {
        padding-inline: 22em;
    }
}

body {
    background-color: #daebf0;
    margin: 0;
}

#me {
    width: 25em;
    height: auto;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: peachpuff;
    justify-content: center;

}

#content {
    height: 100vh;
}

#content p {
    margin-block: 2em;
    margin-inline: 2em;
}

#header_text {
    border: solid white .1em;
}
#header_text h1 {
    margin-block-start: .4em;
}

