@font-face {
    font-family: 'SF UI Text';
    src: url('fonts/BDSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Garet Book';
    src: url('fonts/Garet-Book.woff2') format('woff2');
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes animate-slide {
  0% {
    opacity: 0;
    transform: translate(0, 50vh);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

html {
    font-family: 'SF UI Text', sans-serif;
    font-size: .65vw;
}

#container {
    display: flex;
    flex-flow: column;
}

@media screen and (max-width: 600px) {
    #header_section {
        flex-flow: column;
        row-gap: 2em;
        justify-content: center;

    }
    #header_text {
        padding: 1em;
    }

    #content {
        padding-inline: 2em;
    }

    #me {
        width: 18em;
    }
}

@media screen and (min-width: 600px) {
    .experience {
        width: 50%;
        margin-right: 0;
        margin-left: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    #header_section {
        flex-flow: row;
        justify-content: space-around;
    }
    #header_text {
        padding: 2em;
    }

    #content {
        padding-inline: 2em;
    }
}


@media screen and (min-width: 1200px) {
    #header_text {
        padding: 4em;
    }
    #header_section {
        flex-flow: row;
        justify-content: center;
        column-gap: 12em;
    }
    .section-1 {
        margin-inline: 12em;
    }
}

body {
    background-color: #fffbf5;
    margin: 0;
}

#me {
    height: auto;
    width: 40em;
    padding: 1em;
    background-color: #75c2c9;;
}

header {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

#header_section {
    display: flex;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.mask {
    background-color: #e4e6d1;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.background_cover {
    display: block;
    opacity: 0.5;
    width: 100%;
}

#header_text {
    animation-duration: 0.5s;
    animation-name: animate-slide;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
    display: flex;
    flex-flow: row;
    column-gap: 8em;
    margin-block-start: 8em;
    height: 14em;
}

#header_text h1 {
    margin-block-start: .4em;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 8em;
}


.section-1, .section-2 {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

main {
    font-family: 'Garet Book', sans-serif;
    scroll-snap-type: y mandatory;
    background-color: #fffbf5;
}

.section-1 {
    column-gap: 10em;
    margin-block: 3em;
    padding-inline: 3em;
}

.section-2 {
    height: fit-content;
    border-block-start: 2px solid white;
    align-items: center;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
#image_container {
    animation-duration: 0.5s;
    animation-name: animate-slide;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}

#divider {
    border-left: .2em solid white;
    content: '';
}

#subtitle {
    font-size: 6em;
    font-weight: 100;
    margin-block-start: 0px;
    margin-block-end: .2em;
}

.who-am-i {
    margin-block-start: 8em;
    font-size: 2em;
}

.attributes-container {
    display: flex;
    flex-flow: row;
    column-gap: 6em;
    z-index: 1;
    position: relative;
    margin-block: 12em;
    margin-inline: auto;
}

.attribute {
    width: 27em;
    background: #faefe0;
    padding-inline: 3em;
    padding-block: 2em;
}

.attribute h2 {
    font-size: 3em;
    height: 7em;
    font-weight: 100;
}

.attribute p {
    font-size: 2em;
    margin-inline: -1.5em;
    border-top: 1px solid lightgray;
    padding-inline: 1.5em;
    padding-top: 1em;
}

.section-2-content {
    display: flex;
    width: 100%;
    flex-flow: column;
    z-index: 1;
}

.about-me-header {
    display: flex;
    justify-content: center;
    background: #faefe0;
    width: 100%;
    height: 23em;
    align-items: center;
}

.about-me-header h1 {
    font-size: 5em;
    font-weight: 100;
}

.about-me-content {
    height: 35em;
    justify-content: center;
    display: flex;
}

.about-me-content h1 {
    margin-block: 3em;
    font-size: 2em;
    font-weight: 100;
}